body {
  background-color: #f2f2f2 !important;
  font-family: Arial, sans-serif;
}


a{
    text-decoration: none !important;
}

button{
  border: none;
  background-color: transparent;
}


@media (max-width:780px){
  .home-container,.admin-container{
    flex-wrap: wrap !important;
  }
  .admin-sidebar {
    width: 100% !important;
    margin: 0px auto;
    background-color: #ddd;
  }
  .admin-sidebar ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .admin-sidebar ul a{
    background-color: #bebebe;
  }
}